name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: {{ gh "github.workflow" }}-{{ gh "github.ref" }}
  cancel-in-progress: true

jobs:
{{ if ne .Stack.Language "unknown" -}}
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml

{{ end -}}
  security:
    uses: ./.github/workflows/security.yml

{{ if .Stack.HasDocker -}}
  docker:
    needs: [{{ if ne .Stack.Language "unknown" }}lint, test, {{ end }}security]
    uses: ./.github/workflows/docker.yml

  provenance:
    needs: docker
    if: {{ gh "github.event_name" }} != 'pull_request'
    permissions:
      actions: read
      id-token: write
      packages: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: {{ gh "needs.docker.outputs.image" }}
      digest: {{ gh "needs.docker.outputs.digest" }}
    secrets:
      registry-username: {{ gh "github.actor" }}
      registry-password: {{ gh "secrets.GITHUB_TOKEN" }}

{{ end -}}
{{ if .Stack.HasK8s -}}
  deploy:
    needs: [docker]
    uses: ./.github/workflows/k8s-deploy.yml
{{ end -}}
