name: Test

on:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: {{ gh "matrix.node-version" }}
          cache: '{{ if .UseYarn }}yarn{{ else }}npm{{ end }}'
      - run: {{ if .UseYarn }}yarn install --frozen-lockfile{{ else }}npm ci{{ end }}
      - run: {{ if .UseYarn }}yarn test --coverage{{ else }}npm test -- --coverage{{ end }}
