name: Test

on:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: {{ gh "matrix.node-version" }}
          cache: '{{ if .UseYarn }}yarn{{ else }}npm{{ end }}'
      - run: {{ if .UseYarn }}yarn install --frozen-lockfile{{ else }}npm ci{{ end }}
      - run: {{ if .UseYarn }}yarn test --coverage{{ else }}npm test -- --coverage{{ end }}
