name: Lint

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: '{{ if .UseMaven }}maven{{ else }}gradle{{ end }}'
      - name: Checkstyle
        run: {{ if .UseMaven }}mvn --batch-mode checkstyle:check{{ else }}./gradlew checkstyleMain{{ end }}
